* {
  margin:  0;
  padding: 0;
}
.contenedor-padre{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
}
.contenedor-titulo{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
}
.titulo-hotel{
  /*background: rgb(17, 201, 112);*/
  width: 89%;
  margin-top: 27px;
  font-size: 30px;
  color: #222222;
  font-family: 'Raleway', sans-serif;
}

.contenedor-menu{
  background: #f5f5f5;
  width: 100%;
  height: 63px;
  margin-top: 6px;
}

.menu-bar{
  display: none;
}

.contenedor-secundario-menu{
  /*background: rgb(177, 19, 208);*/
  /*width: 80%;*/
  margin-left: 72px;
  margin-top: 8px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.item{
  /*background: rgb(49, 240, 191);*/
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

.item-menu{
  text-decoration: none;
  color: #405b6f;
}
.item-menu:hover{
  color: #bebebe;
}
/*a{
  text-decoration: none;
  color: #405b6f;
}

a:hover{
  color:#bebebe;
}*/

.contenedor-foto-principal{
  margin-top: 44px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
}
.foto-inicial{
  max-width: 100%;
  /*height: 300px;*/
}
.foto-principal{
  /*background-image: url("../imagenes/descanso3.jpg");*/
  /*background-size: cover;*/
  width: 89%;
  /*margin: auto;*/
  /*height: 464px;*/
}

.contenedor-fotos-adicional{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
}

.contenedor-tres-fotos{
  /*background: rgb(182, 37, 207);*/
  margin-top: 96px;
  width: 92%;
  /*margin-left: 64px;*/
  /*text-align: right;*/
  /*height: 204px;*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-around;
}

.contenedor-foto-and-info{
  width: 360px;
}


.foto1{
  background-image: url("../imagenes/habitacion.jpg");
  background-size: cover;
  /*width: 348px;*/
  height: 202px;
  /*width: 96%;
  margin: auto;*/
}
.foto2{
  background-image: url("../imagenes/tarifas.jpg");
  background-size: cover;
  /*width: 348px;*/
  height: 202px;
  /*width: 96%;
  margin: auto;*/
}
.foto3{
  background-image: url("../imagenes/playa.jpg");
  background-size: cover;
  /*width: 348px;*/
  height: 202px;
  /*width: 96%;
  margin: auto;*/
}

.descripcion1{
  /*background: rgb(250, 15, 29);*/
  width: 348px;
  height: 202px;
}
.descripcion2{
  /*background: rgb(168, 210, 102);*/
  width: 348px;
  height: 202px;
}
.descripcion3{
  /*background: rgb(32, 102, 124);*/
  width: 348px;
  height: 202px;
}

.titulo-foto{
  /*background: rgb(90, 128, 157);*/
  margin-top: 27px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.descripcion-foto{
  /*background: rgb(131, 208, 157);*/
  margin-top: 16px;
  color: #444444;
  font-size: 16px;
  weight:300;
  line-height: 26px;
  font-family: 'Raleway', sans-serif;
}

.link-adicional{
  color: #333333;
  text-decoration: none;
  transition-property: color;
  /*transition-property:*/
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

.link-adicional:hover{
  color: #000000;
  background: #f5f5f5;
}

.leer-mas{
  color: #405b6f;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

.leer-mas:hover{
  color: #000000;
  background: #f5f5f5;
}

.info-hotel{
  background: #f2f4f3;
  margin-top: 88px;
  width: 100%;
  height: 308px;
}

.colonia{
  /*background: rgb(209, 154, 185);*/
  margin-top: 35px;
  color: #444444;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Raleway', sans-serif;
}
.telefono{
  /*background: rgb(209, 154, 185);*/
  margin-top: 60px;
  color: #444444;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.correo{
  /*background: rgb(209, 154, 185);*/
  margin-top: 24px;
  color: #444444;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.pie{
  padding-top: 24px;
  padding-bottom: 24px;
  color: #444444;
  text-align: center;
  font-size: 16px;
  weight: 300;
  font-family: 'Raleway', sans-serif;
}
.freelance{
  color: #405b6f;
  text-decoration: none;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  text-decoration: none;
   border-bottom:1px dotted #405b6f;
}
.freelance:hover{
  color: #000000;
  background: #f5f5f5;
}

@media screen and (max-width:800px) {
  .contenedor-menu{
    /*background: rgb(210, 17, 182);*/
    width: 89%;
    height: 276px;
    margin: auto;
    display: none;
  }

  .contenedor-secundario-menu{
    /*background: rgb(177, 19, 208);*/
    /*width: 80%;*/
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
}
.item{
  border-bottom: 1px solid #F1F1F5;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contenedor-menu{
  background: #FAFAFE;
}

.item-menu{
  color: #444444;
}
.titulo-hotel{
  margin-bottom: 8px;
}
.menu-bar{
  background: #FAFAFE;
  display: block;
  margin: auto;
  width: 89%;
  /*width: 90%;*/
  /*margin-left:24px;*/
  /*margin-right: 24px;*/
  border-bottom: 1px solid #F1F1F5;
}

.btn-menu{
  display: block;
  padding-top: 16px;
  /*padding-left: 0px;*/
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
.menu-bar span{
  float: right;
  font-size: 30px;
}

.contenedor-tres-fotos{
  /*background: rgb(182, 37, 207);*/
  margin-top: 96px;
  width: 93%;
  /*height: 204px;*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
}

.contenedor-foto-and-info{
  width: 96%;
  margin: auto;
  margin-bottom: 32px;
}

.info-hotel{
  background: #f2f4f3;
  margin-top: 88px;
  width: 100%;
  height: 308px;
}

.telefono{
  /*background: rgb(209, 154, 185);*/
  /*margin-top: 60px;*/
  color: #444444;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.correo{
  /*background: rgb(209, 154, 185);*/
  /*margin-top: 24px;*/
  color: #444444;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

}
@media screen and (max-width:303px){
  .info-hotel{
    background: #f2f4f3;
    margin-top: 88px;
    width: 100%;
    height: 400px;
  }
  .correo{
    /*background: rgb(209, 154, 185);*/
    /*margin-top: 24px;*/
    color: #444444;
    text-align: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
  }
}
